.subtitlesButton {
    -moz-user-focus: none;
    background: url(chrome://wikisubs/skin/subtitlesButton.png) no-repeat center;
    /* Remove the native button appearance and styling */
    -moz-appearance: none;
    margin: 0px;
    padding: 0px;
    min-height: 28px;
    min-width: 28px;
    border: none;
}

.subtitlesButton * {
    -moz-appearance: none !important;
}

.subtitlesButton menuitem:hover {
    background-color: rgba(60,60,60, 1) !important;
}

.subtitlesButton menuitem {
    background-color: rgba(100,100,100, 1) !important;
    border: 1px solid rgba(200,200,200, 1);
    color: rgba(255,255,128, 1);
    padding: 4px;
    font-size: 11px;
    font-family: Arial, sans-serif;
    text-shadow: rgba(0,0,0, 0.6) 1px 1px;
}

.subtitles_editbox {
    padding-bottom: 12px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: rgba(255,255,128, 1);
    text-shadow: rgba(0,0,0, 0.6) 1px 1px;
}
