window {
	background: #0D0D5A;
}

annotation {
	-moz-binding: url("annotations.xml#annotation");
	-moz-user-focus: normal;
	stroke-width: 4px;
	font-family: Lucida Grande,Geneva,Verdana,Arial,Helvetica,sans-serif;
	font-style: bold;
	font-variant: normal;
	line-height: normal;
        font-size: 32px;
}

annotation .svg-shape-text {
	fill: white;
}

annotation .svg-shape-path {
	fill: gray;
  stroke: black;
}

annotation .svg-shape-rect {
	fill: red;
	stroke: white;
}

annotation:focus .svg-shape-rect {
	fill: green;
	stroke: white;
}

